.field-component{
    width: 750px;
    height: 150px;
    margin: 0px;
}

.field-description{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.field-description > .complete-description-field{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
}

.field-component > .field-description > .complete-description-field > img{
    margin: 0px 0px 0px 10px;
    height: 34px;
    width: 34px;
}

.field-component > .field-description > .complete-description-field > .note-and-title-field{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0px 0px 10px;
}

.field-component > .field-description > .complete-description-field > .note-and-title-field > p{
   margin: 0px;
   color: rgb(164, 164, 164);
}

.field-component > .field-description > .complete-description-field > .note-and-title-field > .title-field{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.field-component > .field-description > .complete-description-field > .note-and-title-field > .title-field > img{
    height: 20px;
    width: 20px;
    margin: 0px 0px 0px 5px;
}

.titleField{
    color: black;
    font-size: 1.2rem;
    margin: 0px;
}

.field-component > .field-description > input{
    width: 90%;
    height: 30%;
    grid-area: input;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    padding: 0px 0px 0px 10px;
    font-size: 15px;
    font-style: italic;
    margin: 5px 0px 0px 10px;
}
