.modal-none-ticket{
    width: 100%;
    height:100%;
    border-radius: 0px 0px 15px 15px;
    margin: 10px 0px 0px 0px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.modal-none-ticket > img{
    opacity: 30%;
}

.modal-none-ticket > p{
    font-size: 1.5rem;
    opacity: 30%;
}