.last-events-created{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height:75%;
}

.last-events-created > p{
    height: 1%;
    width: 250px;
    background-color: #13BAC4;
    margin: 0px 0px 0px 20px;
}

.last-events-created > h2{
    margin: 0px 0px 5px 20px;
    color: black;
    height: 3%;
}

.last-events-created > .events-created-container-editables{
    width:100%;
    height: 96%;
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.last-events-created > .events-created-container-editables::-webkit-scrollbar {
    display: none;
}
