.user-rol-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .user-name-button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #3161a3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .back,
  .next {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }
  