.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.follow-us {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.follow-us h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.icon p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}