.pay-button-container{
    display: block;
    padding: auto;
}

.pay-button{
    background: #3262A4;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pay-button > h1{
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0px 5px 0px 0px;
}

.pay-button:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.dolar-logo{
    width: 30px;
    height: 30px;
}