.event-component{
    background-color: rgb(141, 140, 140);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    box-shadow: 2px 2px 5px rgb(106, 106, 106);
    position: relative;
}

.modal-event{
    opacity: 0%;
    background-color: rgb(67, 67, 67);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.modal-event:hover{
    opacity: 100%;
    transition: all 0.2ms;
}

.modal-event > .btn-modal-add{
    width: 50px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

.modal-event > p {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
}

.info-event{
    opacity: 40%;
    background: linear-gradient(0deg, rgb(52, 52, 52) 10%, transparent);
    height: 35%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 0px 20px 20px ;
}

.info-event > .info-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    border: 1px solid white;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right-width:2px ;
}

.btn-show {
    height: 40px;
    width: 100px;
    background-color: rgb(90, 90, 90);
    margin: 5px 0px 0px 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

