.events-container{
    width: 95%;
    height: 40rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.events-container::-webkit-scrollbar{
    display: none;
}

.events-container > .event-component{
    height: 300px;
    width: 300px;
}

.events-container > .event-component:hover{
    height: 310px;
    width: 310px;
}

